

.home-dashboard {
    text-align: center;
  }
  .home-dashboard h1
  {
    margin-top: 200px;
  }
  
  .home-dashboard h1,p {
    
    color: #faf6f6;
    margin-bottom: 20px;
  }
  
  .home-dashboard nav ul {
    padding: 0;
  }
  
  .home-dashboard nav ul li {
    margin: 10px 0;
  }
  
  .home-dashboard nav a {
    text-decoration: none;
    color: #007bff;
    font-size: 1.2rem;
  }
  
  .home-dashboard nav a:hover {
    text-decoration: underline;
  }
  